<h5>
  <%= "Stores within 25 miles of #{@presenter.zipcode}" %>
</h5>

<p>
  <%= "#{@presenter.total_stores} Total Stores" %>
</p>

<ul>
  <% @presenter.stores.each do |store| %>
    <div class="store">
      <li><%= "Store: #{store.name}"  %></li>
      <li><%= "City: #{store.city}"  %></li>
      <li><%= "Store Type: #{store.type}"  %></li>
      <li><%= "Distance: #{store.distance} miles" %></li>
      <li><%= "Phone: #{store.phone}" %></li>
    </div>
  <% end %>
</ul>
