<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @items.count %> Items</h1>
    </div>
  </div>
  <div class="row"></div>
  <% @items.each do |item| %>
    <div class="col-sm-3">
      <h5><%= item.name %></h5>
      <%= link_to(image_tag(item.image_url), item_path(item)) %>
      <p>
        <%= item.description %>
      </p>
    </div>
  <% end %>
  <div class="search">
    <h3>Search for Stores</h3>
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Zipcode:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("search") %>
    <% end %>
  </div>
</div>

